body{
	background-color:#0008;
	font-family: calibri;
	color:ivory;
	padding: 5px;
}
#project{
	border: 1px solid ivory;
	border-radius: 10px;
	width:100%;
	height:300px;
	transition: all ease 0.5s;
}
#project:hover{
	scale:0.7;
}
